/* Reset some default styling */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit;
}

body {
  font-family: "Zilla Slab";
  background-color: #f7f3ee !important; /* `!important` to ensure override */
  color: #333;
  line-height: 1.6;
}

.container-fluid {
  max-width: 1200px;
  margin: 0;
  padding: 20px;
}

/* Header styles */
h2 {
  font-weight: 600 !important;
  color: #333;
  padding-top: 35px;
  padding-bottom: 15px;
  font-family: "Zilla Slab";
}

.aboutYouText{
  font-weight:400;
}

.info-message{
  font-weight:200;
  font-style: italic;
}

/* Priority items list */
.list-group {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

/* Sliders */

.sliderText {
  font-size: 16px;
  font-style: italic;
}

.priority-slider label {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  display: block;
  margin-bottom: 0px;
}

/* Dropdown styles */
.custom-select {
  margin: 0 5px 20px;
  font-size: 16px;
}

/* Rankings list styles */
#rankingsList {
  list-style: none;
  padding: 0;
  max-height: 600px; /* Adjust the height as needed */
  overflow-y: auto;  /* Enables vertical scrolling */
  overflow-x: hidden; /* Hides horizontal scrollbar */
}

.card {
  overflow: visible;
  background-color: #fef6ef;
  padding-top: 5px;
  padding-bottom: -5px;
  border: None !important;
}

.card-body {
  padding: 5px;
  font-family: "Zilla Slab";
  color: #555;
}

.collapse {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

/* Add responsive breakpoint adjustments if necessary */
@media (max-width: 768px) {
  .list-group-item {
    font-size: 16px;
  }
  .card-title {
    font-size: 18px;
    padding-left: 10px;
  }
  .card-subtitle {
    font-size: 14px;
  }
  .card-link {
    font-size: 14px;
  }
}

/* You can add additional media queries for better responsive support */

/* slider style */

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 90%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  
  /* New additions */
  height: 8px;
  background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;
  
  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}

/*=============
Aesthetics 
=========================*/

.range {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -10px; /* Align with the start of the container */
  margin-top: -25px;
  height: 4rem;
  width: 100%; /* Adjust as necessary */
  background: #f7f3ee;
  padding: 0px 10px;
}

.priority-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Or any spacing you prefer */
  background-color: #f7f3ee;
  border-bottom: 1px solid #ddd; /* Show only bottom border */
  padding-bottom: 10px;
  font-size: 16px;
  color: grey;
}


.priority-item span {
  display: inline-block;
}

.priority-item span:first-child {
  white-space: nowrap; /* Keep the text from wrapping */
  flex-shrink: 0; /* Prevent the text from shrinking */
}

/* Specifically for the percentage span to ensure it's not too wide */
.priority-item span:last-child {
  min-width: 50px; /* Adjust as necessary */
  text-align: right;
}

.percentage {
  min-width: 50px; /* Adjust as necessary */
  text-align: right;
  color: grey;
}

.percentage-bar-container {
  flex-grow: 1; /* Allow the container to fill the space between text and percentage */
  margin-left: 10px; /* Add some space on the left */
  margin-right: 10px;
  background-color: #e6e6e6; /* Light grey background */
  height: 5px; /* Height of the bar */
  position: relative; /* To position the bar inside */
}

.percentage-bar {
  background-color: #f50; /* Your theme color - orange */
  height: 100%;
  width: 0%; /* Default width */
  position: absolute; /* Positioned inside the container */
}

.priority-label {
  min-width: 140px; /* Set a fixed width or use min-width to ensure alignment */
  margin-right: 10px; /* Spacing between label and bar */
}

.dropdown {
  position: relative;
  border: black solid 1px;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin-right: 10px; /* Space between dropdowns */
  margin-bottom: 20px;
  width: 45%; /* Fills the parent container */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 20px;
  width: 100%; /* Matches the width of the dropdown */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  left: 0; /* Align with the left edge of .dropdown */
  top: 100%; /* Position below the dropdown button */
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .dropdown {
    padding: 10px 20px; /* Reduced padding on smaller screens */
  }

  .dropdown-content {
    min-width: 160px; /* Adjusted minimum width */
  }
}

@media (max-width: 480px) {
  .dropdown {
    padding: 5px 10px; /* Further reduced padding for very small screens */
    margin-right: 5px; /* Reduced margin */
    margin-bottom: 10px;
  }

  .dropdown-content {
    min-width: 120px; /* Further adjusted minimum width */
  }
}



/* Add other styles as necessary */

.aboutUs{
  text-align: center;
}

.aboutUsText{
  text-align:justify;
  font-size:20px;
  margin: 30px;
}

#mission{
  color:#f50;
}

.profile {
  text-align: center;
  padding: 20px;
}
.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.warning {
  text-align: center;
  margin-top: 20px;
  color: #f50;
  font-size: 50px;
  margin: 20px;
}

.card-title {
  font-size: 1.25rem;
  color: #1d1b19;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Zilla Slab";
  font-weight: 400;
}

.card-title:hover {
  text-decoration: none;
}





